/* Mad Hacker Font */
@import url('https://fonts.cdnfonts.com/css/mad-hacker');

/* Rubik Font */
@import url('https://fonts.cdnfonts.com/css/rubik-vinyl');

/* Cherrils Font */
@import url('https://fonts.cdnfonts.com/css/cherrils');

/* Smooth Gracier Font */
@import url('https://fonts.cdnfonts.com/css/aoboshi-one');

/*Monalisa*/
@import url('https://fonts.cdnfonts.com/css/monalisa-serif');         

/*Kosugi*/
@import url('https://fonts.cdnfonts.com/css/kosugi-maru');

/*Gurum*/
@import url('https://fonts.cdnfonts.com/css/g-gurun');
                                                
/**CSS Variables */

:root {
    --bg-color: black;
    --font-color: white;
}

[data-theme="dark"] {
    --bg-color: rgba(247, 173, 218, 0.759);
    --font-color: rgb(0, 0, 0);
}
h1.Title {
    
    color: #79ff61;
    
    font-weight: 1;
    font-family: 'Rubik Vinyl', sans-serif;
    text-shadow: 5px 5px 5px  rgb(222, 10, 141);
    text-align: center;
}
h2.Sub {
    color:  rgb(222, 10, 141);
    font-weight: 10;
    letter-spacing: 2px;
    font-family: 'Cherrils', sans-serif;
    text-shadow: 5px 5px 5px #79ff61;
    text-align: center;
}

.container {text-align: center;}

h4.text{
   
    color: var(--font-color);
    letter-spacing: 2px;
    font-size: 15px;
    font-family: monospace;
    border-right: 5px solid;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    animation: 
        typing 4s steps(60),
        cursor .4s step-end infinite alternate;
    
}

.hexa{
  border: 0px;
  float: left;
  text-align: center;
  height: 35px;
  width: 60px;
  font-size: 22px;
  background: #f0f0f0;
  color: #3c3c3c;
  position: relative;
  margin-top: 15px;
}

.hexa:before{
  content: ""; 
  position: absolute; 
  left: 0; 
  width: 0; 
  height: 0;
  border-bottom: 15px solid #f0f0f0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  top: -15px;
}

.hexa:after{
  content: ""; 
  position: absolute; 
  left: 0; 
  width: 0; 
  height: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-top: 15px solid #f0f0f0;
  bottom: -15px;
}

.timeline {
  position: relative;
  padding: 0;
  width: 100%;
  margin-top: 20px;
  list-style-type: none;
}

.timeline:before {
  position: absolute;
  left: 50%;
  top: 0;
  content: ' ';
  display: block;
  width: 2px;
  height: 100%;
  margin-left: -1px;
  background: rgb(213,213,213);
  background: -moz-linear-gradient(top, rgba(213,213,213,0) 0%, rgb(213,213,213) 8%, rgb(213,213,213) 92%, rgba(213,213,213,0) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30,87,153,1)), color-stop(100%,rgba(125,185,232,1)));
  background: -webkit-linear-gradient(top, rgba(213,213,213,0) 0%, rgb(213,213,213) 8%, rgb(213,213,213) 92%, rgba(213,213,213,0) 100%);
  background: -o-linear-gradient(top, rgba(213,213,213,0) 0%, rgb(213,213,213) 8%, rgb(213,213,213) 92%, rgba(213,213,213,0) 100%);
  background: -ms-linear-gradient(top, rgba(213,213,213,0) 0%, rgb(213,213,213) 8%, rgb(213,213,213) 92%, rgba(213,213,213,0) 100%);
  background: linear-gradient(to bottom, rgba(213,213,213,0) 0%, rgb(213,213,213) 8%, rgb(213,213,213) 92%, rgba(213,213,213,0) 100%);
  z-index: 5;
}

.timeline li {
  padding: 2em 0;
}

.timeline .hexa{
  width: 16px;
  height: 10px;
  position: absolute;
  background: #00c4f3;
  z-index: 5;
  left: 0;
  right: 0;
  margin-left:auto;
  margin-right:auto;
  top: -30px;
  margin-top: 0;
}

.timeline .hexa:before {
  border-bottom: 4px solid #00c4f3;
  border-left-width: 8px;
  border-right-width: 8px;
  top: -4px;
}

.timeline .hexa:after {
  border-left-width: 8px;
  border-right-width: 8px;
  border-top: 4px solid #00c4f3;
  bottom: -4px;
}

.direction-l,
.direction-r {
  float: none;
  width: 100%;
  text-align: center;
}

.flag-wrapper {
  text-align: center;
  position: relative;
}

.flag {
  position: relative;
  display: inline;
  background: rgb(255,255,255);
  color: black;
  font-weight: 600;
  z-index: 15;
  padding: 6px 10px;
  text-align: left;
  border-radius: 5px;
}

.direction-l .flag:after,
.direction-r .flag:after {
  content: "";
  position: absolute;
  left: 50%;
  top: -15px;
  height: 0;
  width: 0;
  margin-left: -8px;
  border: solid transparent;
  border-bottom-color: rgb(255,255,255);
  border-width: 8px;
  pointer-events: none;
}

.direction-l .flag {
  -webkit-box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  -moz-box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
}

.direction-r .flag {
  -webkit-box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  -moz-box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
}

.time-wrapper {
  display: block;
  position: relative;
  margin: 4px 0 0 0;
  z-index: 14;
  line-height: 1em;
  vertical-align: middle;
  color: #fff;
}

.direction-l .time-wrapper {
  float: none;
}

.direction-r .time-wrapper {
  float: none;
}

.time {
  background: #00c4f3;
  display: inline-block;
  padding: 8px;
}

.desc {
  position: relative;
  margin: 1em 0 0 0;
  padding: 1em;
  color: black;
  background: rgb(254,254,254);
  -webkit-box-shadow: 0 0 1px rgba(0,0,0,0.20);
  -moz-box-shadow: 0 0 1px rgba(0,0,0,0.20);
  box-shadow: 0 0 1px rgba(0,0,0,0.20);
  z-index: 15;
}

.direction-l .desc,
.direction-r .desc {
  position: relative;
  margin: 1em 1em 0 1em;
  padding: 1em;
  z-index: 15;
}

@media(min-width: 768px){
  .timeline {
    width: 660px;
    margin: 0 auto;
    margin-top: 20px;
  }

  .timeline li:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }
  
  .timeline .hexa {
    left: -28px;
    right: auto;
    top: 8px;
  }

  .timeline .direction-l .hexa {
    left: auto;
    right: -28px;
  }

  .direction-l {
    position: relative;
    width: 310px;
    float: left;
    text-align: right;
  }

  .direction-r {
    position: relative;
    width: 310px;
    float: right;
    text-align: left;
  }

  .flag-wrapper {
    display: inline-block;
  }
  
  .flag {
    font-size: 18px;
  }

  .direction-l .flag:after {
    left: auto;
    right: -16px;
    top: 50%;
    margin-top: -8px;
    border: solid transparent;
    border-left-color: rgb(254,254,254);
    border-width: 8px;
  }

  .direction-r .flag:after {
    top: 50%;
    margin-top: -8px;
    border: solid transparent;
    border-right-color: rgb(254,254,254);
    border-width: 8px;
    left: -8px;
  }

  .time-wrapper {
    display: inline;
    vertical-align: middle;
    margin: 0;
  }

  .direction-l .time-wrapper {
    float: left;
  }

  .direction-r .time-wrapper {
    float: right;
  }

  .time {
    padding: 5px 10px;
  }

  .direction-r .desc {
    margin: 1em 0 0 0.75em;
  }
}

@media(min-width: 992px){
  .timeline {
    width: 800px;
    margin: 0 auto;
    margin-top: 20px;
  }

  .direction-l {
    position: relative;
    width: 380px;
    float: left;
    text-align: right;
  }

  .direction-r {
    position: relative;
    width: 380px;
    float: right;
    text-align: left;
  }
}


/* To get the cursor moving */
@keyframes cursor {
    50% { border-color: transparent }
}
@keyframes typing {
    from { width: 0}
}
body {
    background-color: var(--bg-color);
    color: var(--font-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}


p {
    color: white;
    font-family: 'Cherrils', sans-serif;
                                                
}
nav {
     display: flex;
     justify-content: space-around;
     
     
}
/* Style the navigation bar */
.navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: rgb(0, 0, 0);
    overflow: auto;
    position: fixed;
    top: 0;
    z-index: 100;
   
    
  }
  
  /* Navbar links */
  .navbar a {
    float: left;
    text-align: center;
    padding: 12px;
    color: white;
    font-family: 'Kosugi Maru', sans-serif;                          
    text-decoration: none;
    font-size: 17px;
    
  }
  
  /* Navbar links on mouse-over */
  .navbar a:hover {
    background-color: rgb(159, 78, 78); 
  }
  
  /* Current/active navbar link */
  .active {
    background-color: #e60000;
  }

  .baller {
    width: 40%; height: auto;  position: relative;
  }
  
  /*Sorting out the navigation bar with media queries */
  @media screen and (max-width: 450px) {
    .navbar {
        display: block;
    }
    .navbar  a{
      float: none;
      display: block;
    }
    .profileContainer {
        width: 100%;
    }
    .Info2 { 
        width: 100%;
    }
    .header {
        margin-top: 50%;
    }
    .baller {

        
        width: 80%;
        
    }
    .caption {
        margin-top: 50%;
    }
    
  }
 
  

  /*Overlay image for the about page */

  .profileContainer {
    margin: auto;
    position: relative;;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5%;
    border: 5px solid #79ff61;
    box-shadow: 5px 5px 5px rgb(222, 10, 141);
  }

  .image {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 5%;
    
  }

  .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right:0;
    background-color:red;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
    border-radius: 5%;
    opacity: 0.5;
  }

  .profileContainer:hover .overlay {
    height: 100%;
    border-radius: 5%;
  }

  .Info {
    color: white;
    text-align: center;
    margin-top: 20%;
    font-family: 'Aoboshi One', sans-serif;
  }

  .Info2 {
    color: var(--font-color);

    font-family: 'Monalisa Serif', sans-serif;
                                                
                                                
    overflow-wrap: break-word;
    width: 80%;
    margin: auto;
    text-decoration: double;
    text-align: left;
  }

 

  @media screen and (min-width: 750px) {
    .profileContainer {
      width: 30%;
    }
    .Info2 { 
        width: 60%;
        margin: auto;
    }
    .navbar { 
        display: flex;
        justify-content: space-between;
    }
  }
 

  /****Footer****/

  .footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: black;
    color: black;
    text-align: center;
    z-index: 30;
  }
  #help {
    display: flex;
    justify-content: center;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }

  .footer a { 
    text-decoration:  none; 
    
  }

  .footer a:hover p{
    background-color: white;
    color: black;
  }

  /**Portfolio CSS Styling **/
  .slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }

  /**Hides the images by default**/
  .mySlides {
    display: none;
  }

  .prev , .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }

  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }

  .caption {
    color: var(--font-color);
    background-color: var(--bg-color);
    font-size: 18px;

    position: absolute;
    font-family: 'g Gurun', sans-serif;                                        
    bottom: 8px;
    width: 100%;
    text-align: center;
  }

  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }

  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }

  .activeZ, .dot:hover {
    background-color: #717171;
  }

  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }

  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 800px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
  }
  /*slider switch css */
.theme-switch-wrapper {
    display: flex;
    align-items: center;
    
  
  }
  .theme-switch {
    display: inline-block;
    height: 34px;
    position: relative;
    width: 60px;
  }
  
  .theme-switch input {
    display:none;
  }
  
  .slider {
    background-color: rgb(44, 46, 44);
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
  }
  
  .slider:before {
    background-color: rgb(255, 255, 255);
    bottom: 4px;
    content: "";
    height: 26px;
    left: 4px;
    position: absolute;
    transition: .4s;
    width: 26px;
  }
  
  input:checked + .slider {
    background-color: rgba(247, 173, 218, 0.759);;
  }
  
  input:checked + .slider:before {
    transform: translateX(26px);
  }
  
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  